name: build-check
run-name: Build operating system with sjasmplus
on: 
    push:
        branches:
          - '**'
          - '!main'
jobs:
    create-release:
        runs-on: [ubuntu-latest]
        container: nihirash/sjasmplus:x64
        steps:
            - uses: actions/checkout@v4

            - name: Fix ownership
              run: chown -R $(id -u):$(id -g) $PWD

            - name: Build OS from sources using dockerized sjasmplus
              run: (cd system && make)